header {
    background-image: url(image/bg-1.jpg);
    background-size: cover;
    background-image: linear-gradient(black white);
    background-position: center;
}



.white {
    color: white;
    font-size: 2em;
}

.flexible-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.42);

}

.flexible-container-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;


}

nav ul {

    display: flex;
}

nav li {
    list-style: none;
    padding-right: 15px;
}

nav ul li:hover {
    background-color: gray;


}

.link-button {
    font-weight: 700;
    color: white;
    background-image: linear-gradient(red, tomato);
    text-decoration: none;
    padding: 10px 30px;

}

.link-button:hover {
    background-image: linear-gradient(yellowgreen, yellow)
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding-left: 2%;
}

nav ul li ol {
    display: block;
}

.dropdown {
    display: none;
}

.padding {
    padding: 80px 0 90px 50px;
}

.align {
    text-align: center;
    font-size: 50px;
}

.box-container {
    /* margin: 0 30px 0 30px; */
    padding: 30px 20px;
    height: 250px;
    /* width: 350px; */

    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px grey;
    text-align: center;


}

@media screen and (max-width:576px) {
    .flexible-container-1 {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0;
        margin-right: 0;

    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    .flexible-container-1 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.box-container:hover {
    box-shadow: 10px 10px 20px rgb(206, 8, 8);
    margin-top: -20px;

}

.box-container img {
    width: 90px;
    height: 90px;
}

.and-B {
    overflow: hidden;
}

.and-B:hover {
    overflow-y: scroll;
}

.and-B:hover img {

    width: 100%;
    height: 100%;

}


.link-button-1 {
    align-items: center;

}

main {
    margin-top: 60px;
    text-align: center;
    color: white;
    background-color: black;
}


.flexible-container-3 {
    border-top: 1px solid red;
    display: flex;
    padding-top: 60px;
    margin: 0 30px;


}

.flexible-container-3 img {
    width: 100%;
    height: 100%;
    transform: skewY(-15deg);
}

.flexible-container-8 img {
    width: 100%;
    height: 100%;
    transform: skewY(-15deg);
}


.flexible-container-10 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width:576px) {
    .flexible-container-10 {
        grid-template-columns: repeat(2, 1fr);
    }

    .navi {
        display: none;
    }

    .box-container-1 {
        margin-left: 0;
        margin-right: 0;
    }

}

.box-container-1 {
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url("image/Group_33094_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
}

@media screen and (max-width:576px) {
    .box-container-1 {
        margin-left: 0%;
        margin-right: 0%;
        padding-left: 8px;
        padding-right: 8px;
    }
}

.white-1 {
    color: white;
    font-weight: 2em;
}

.margin {
    margin-top: 50px;
    margin-bottom: 70px;
}

.box-container-2 {
    /* margin: 0 35px 0 35px; */
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgb(20, 3, 3);


}

.box-container-2 img {
    width: 100%;
}

.box-container-4 {
    padding: 0 25px 20px;
}

.red {
    color: red;
    font-weight: 700;
}

.weight {
    font-weight: 800;
}

.flexible-contaimer-5 {

    display: flex;
    justify-content: space-between;
}

.resize {
    margin: 100px 0;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#9bdfff, #009be4);
}

.infinity {
    position: relative;
    width: 800px;
    height: 160px;
    background: #525252;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(30deg);
}

.infinity::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, #fff 0, #fff 70%, #525252 70%, #525252 100%);
    background-size: 120px;
}

.infinity::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: #333;
    bottom: -30px;
    transform-origin: top;
    transform: perspective(500px) rotateX(-25deg);


}

.shadow {
    position: absolute;
    bottom: -92px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 60px;
    background: linear-gradient(#000, transparent);
    opacity: .7;
}

.girl {
    position: relative;
    height: 200px;
    width: calc(1190px / 6);
    background: url(image/spritestrip.avif);
    transform: perspective(500px) rotateX(-25deg) translateY(-120px);
    -webkit-box-reflect: below 1px linear-gradient(transparent 90%, #0004);
    animation: animateGirl .5s steps(6) infinite;
}

@keyframes animateGirl {
    form {
        background-position: 0;
    }

    to {
        background-position: 1200px;
    }
}

footer {
    margin: 100px 35px 0 35px;
}

.fa-facebook-square,
.fa-youtube-square {
    font-size: 40px;
}

.center {
    text-align: center;
}

form {
    background-image: url(image/Back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form-style {
    width: 400px;
    font-size: large;
    font-weight: 700;
    margin: 0 auto 0 auto;
    padding: 20px 10px 50px 20px;
    color: yellowgreen;
    background-color: rgba(0, 0, 0, 0.42);
}

.form-style:hover {
    box-shadow: 10px 10px 20px yellowgreen;
    margin-top: -20px;
}


input {
    width: 200px;
    padding: 8px;
    background-color: rgba(135, 207, 235, 0.685);

}

input:focus {
    color: darkolivegreen;
    font-weight: 800;
}

button {
    width: 150px;
    padding: 7px;
    font-size: 16px;
    color: rgb(13, 13, 117);
    background-color: pink;
}

.contract {
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background: radial-gradient(white, pink);
    border: 2px solid red;
    transition: width 10s, height 10s, transform 10s;
}

.contract:hover {
    width: 450px;
    height: 450px;
    transform: rotate(180deg);
}

.contract-dip {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background: radial-gradient(white, yellowgreen);
    transform: scale(.71) rotate(45deg);


}

.feild {
    border: 1px solid white;
    margin-bottom: 200px;
}

.bat {
    height: 350px;
}

.bat {
    transition: transform .2s ease-in;
}

.feild:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
}

.ball {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    position: relative;
    left: 452px;
    transition: transform 1s ease-out .3s;
}

.feild:hover .ball {
    transform: translate(800px, 200px);
}